.height {
  height: 100vh;
}

.background {
  height: 100%;
  background-color: rgb(114, 114, 194);
}

/* home page */
.homepage {
  margin: auto;
  height: 100vh;
  width: 75%;
  /* border: 3px solid green; */
  padding: 20px;

}

.brand {
  /* margin-left: 5vw;
  margin-right: 5vw; */
  border: solid black 2px;
  margin: 10px 10vw 5vh 10vw;
  padding: 3rem;
  font-size: 25px;
  background-color: rgb(107, 171, 190);
  border-radius: 20px;
}


/* about page */
.about1 {
  /* border: solid green 2px; */
  padding: 40px 10vw 5vh 10vw;
  display: flex;
  justify-content: space-around;
} 

.vid {
  /* border: solid rgb(103, 141, 103) 7px; */
}

.swimDscpt {
  /* border: solid green 2px; */
  border: solid black 2px;
  background-color: rgb(107, 171, 190);
  padding: 20px;
  height: 576px;
  width: 720px;
  font-size: 25px;
  border-radius: 25px;
}

/* contact */
.contact-card {
  border: solid black 2px;
  width: 35vw;
}


/* resume */
.certificate {
  width: 60vw;
  margin-top: 20px;
  border: solid black 2px;
}

.project {
    /* border: solid green 2px; */
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-around;
  align-content: flex-start;
  height: 100vh;
}