.background {
  /* background-color: rgb(163, 95, 7); */
  height: 100vh;
}

body {
  background-color: rgb(163, 95, 7);
}

.brand {
  border: solid green 2px;
  padding: 10px 10vw 5vh 10vw;
  font-size: 25px
}