.height {
  height: 100vh;
}

.backgroundAbout {
  padding-top: 5vh;
  height: 100%;
  background-color: #033860;
  border: #972e2e;
  color: white;
}

#subtitles {
  border-bottom: 2px solid rgb(255, 255, 255);
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
}

.howSE {
  border: 2px solid red;
  
  display: flex;

}

.background {
  background-color: #087da787
}

.qualifications {
  /* border: 5px solid rgb(146, 45, 45); */
  gap: 10;
  display: flex;
  justify-content: space-around;
  margin-right: 20%;
  margin-left: 20%;
  padding-bottom: 3vw;
}

.certificate {
  width: 40vw;
  margin-top: 20px;
  /* border: solid black 2px; */
}

.resume {
  padding-top: 5%;
  /*border: 2px solid red; */
}

#resumeIMG {
  width: 15vw;
  margin-bottom: 5px;
}

/* ====== */
  @import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Exo', sans-serif;

}

.theRealLinks {
  width: 100%;
  position: absolute;
  top:10vh;
  /* border: solid red 2px */
}

.context {
    width: 100%;
    position: absolute;
    top:20vh;
    /* border: solid red 2px */
  }
  
.contextBio {
  /* border: solid red 2px; */
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.75rem;
  text-align: center;
  color: white;
}

.navContainer {
  /* border: solid red 2px; ====== */
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
  /* min-height: 30vh; */
}

.button {
  border-radius: 50px;
  background: linear-gradient(145deg, #da4242, #b83838);
  box-shadow:  36px 36px 72px #972e2e,
              -36px -36px 72px #ff4e4e;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.context h3{
    text-align: center;
    color: #fff;
}

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* === */

.brand {
  /* margin-left: 5vw;
  margin-right: 5vw; */
  /* border: solid black 2px; */
  margin: 10px 19vw 3vh 19vw;
  padding: 1rem;
  font-size: 18px;
  /* background-color: rgb(107, 171, 190); */
  border-radius: 20px;
}

.newBrand {
  border-radius: 50px;
  background: #6babbe;
  box-shadow:  20px 20px 60px #5b91a2,
             -20px -20px 60px #7bc5db;
}


/* about page */
.about1 {
  /* border: solid green 2px; */
  margin: 10px 19vw 0vh 19vw;
  /* padding: 40px 10vw 5vh 10vw; */
  display: flex;
  justify-content: space-around;

  min-height: 65vh;
} 

.vid {
  /* border: solid rgb(103, 141, 103) 7px; */
}

.swimDscpt {
  /* border: solid green 2px; */
  /* border: solid black 2px; */
  /* background-color: rgb(107, 171, 190); */
  padding: 20px;
  height: 576px;
  width: 720px;
  font-size: 25px;
  border-radius: 25px;
}

/* contact */
.contact-card {
  background-color: #6b6fb3;
  color: #fff;
  /* border: solid black 2px; */
  width: 100vw;
  height: 100%;
}

.contact-container {
  /* border: solid 2px red; */
  margin: 0px 19vw 0vh 19vw;
}

.project {
    /* border: solid green 2px; */
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-around;
  align-content: flex-start;
  /* height: 100vh; */
}